@mixin custom-scrollbar {
  &::-webkit-scrollbar {
    display: block;
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: $gray-middle-7;
    border-radius: 4px;
    border-right: none;
    border-left: none;
  }

  &::-webkit-scrollbar-track-piece:end {
    background: #1D212B;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track-piece:start {
    background: #1D212B;
    border-radius: 4px;
  }
}