$black: #000;
$white: #fff;
$blue: #00aff5;
$dark-blue: rgba(120,201,234,.18);
$grey-1: #282832;
$grey-2: #32323e;
$grey-3: #4d505f;
$grey-4: #474b5a;
$grey-5: #6c757d;
$grey-6: #7e8299;
$grey-7: #adb5bd;
$grey-8: #dee2e6;
$grey-9: #2e3448;

$font-family-sans-serif: -apple-system,BlinkMacSystemFont,Segoe UI,Ubuntu,Roboto,Helvetica Neue,sans-serif;

$headerHeight: 65px;